<input type="hidden" id="nickname" />
<input type="hidden" id="to" />

<div class="chat">
    <div class="chat-title">
        <h1>
            <span></span>
            <i class="close-btn fa fa-times" aria-hidden="true"></i>
        </h1>
        <figure class="avatar">
            <img src="/Images/profile-80.jpg" />
        </figure>
    </div>
    <div class="messages">
        <div class="online-users shown">
            <h1 class="online-users-title">Online users</h1>
            <div class="online-user">
                <h1>Group chat</h1>
            </div>
        </div>
        <div id="group-chat" class="messages-content" data="GROUP CHAT"></div>
    </div>
    <div class="message-box">
        <input type="text" class="message-input" placeholder="Type message...">
        <label for="attachment" class="attachment-label">
            <i class="fa fa-cloud-upload"></i>
        </label>
        <input id="attachment" type="file" name="file" style="display: none" />
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/js")
    <script src="/signalr/hubs"></script>
    <script src="~/Scripts/myChat.js"></script>
}